# .env.development 파일을 생성하여 개발 환경에 필요한 환경 변수를 설정하세요.
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

REDIS_URL="redis://localhost:6379"
REDIS_PASSWORD=""                    # Redis 비밀번호 (인증 필요시 설정)
REDIS_AUTH_DB=0
REDIS_MEETING_ROOM_DB=1
REDIS_QUEUE_DB=15

JWT_SECRET="secret"      # HS256 키
JWT_ACCESS_TOKEN_EXPIRES_IN=604800   # 액세스 토큰 만료 시간(초)
JWT_REFRESH_TOKEN_EXPIRES_IN=604800  # 리프레시 토큰 만료 시간(초)
ENABLE_REFRESH_TOKEN=false           # 리프레시 토큰 기능 활성화 여부 (false: Redis 저장 안함)
ENABLE_BLACKLIST=false               # 블랙리스트 기능 활성화 여부 (false: Redis 조회 안함)

FIREBASE_PROJECT_ID="input-your-project-id"
FIREBASE_PRIVATE_KEY="input-your-private-key"
FIREBASE_CLIENT_EMAIL="input-your-client-email"

# Logger
LOG_LEVEL=debug
LOG_DIRECTORY=logs
LOG_MAX_FILES=30d
LOG_MAX_SIZE=20m
